<li class="page-item first">
  <% if current_page.first? %>
    <%= tag.span t('views.pagination.first').html_safe, class: 'page-link' %>
  <% else %>
    <%= link_to t('views.pagination.first').html_safe, url,
      remote: remote, class: 'page-link' %>
  <% end %>
</li>